{% section 'hero' %}

<h1>
    {{ collections['best-winter'].title }}
</h1>

{% for product in collections['best-winter'].products %}
<div> 
    <a href='{{ product.url }}'> 
        <h3>{{ product.title }} </h3>
        <p> {{ product.description |  truncatewords: 14 }} </p>
        <p> {{ product.price | money_with_currency }}</p>
    </a>
</div>
{% endfor %}